body {
	background: #262a2b;
}

/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -98px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: #04AA6D;
}

#blog {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#logout {
  top: 140px;
  background-color: #f44336; /* Red */
}

#back {
  top: 200px;
  background-color: #555 /* Light Black */
}
.user{
  font-family: 'helvetica', san-serif, serif;
    color: #b7b7b7;
    margin-bottom: 5px;
    margin-top: 5px;
}
.user-img{
    border-radius: 100%;
}
.heading{
    font-family: 'helvetica', san-serif, serif;
    color: #b7b7b7;
    margin-bottom: 5px;
    font-size: 70px;
	opacity: 0.6;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;

}
.tilesWrap {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif, serif;
	min-height: 25vh;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: left;
}
.trackTiles li {
	display: inline-block;
	width: 100%;
	min-width: 300px;
	max-width: 530px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif, serif;
	min-height: 25vh;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li h2 {
	font-size: 114px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}
.tilesWrap li p {
	font-size: 12px;
	line-height: 16px;
	color: #b7b7b7;
	margin-top: 5px;
}
.tilesWrap li button {
	background: transparent;
	border: 1px solid #b7b7b7;
	padding: 10px 50px;
	color: #b7b7b7;
	border-radius: 3px;
	position: relative;
	text-align: center;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
.tilesWrap li button:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	background: #b7b7b7;
	top: 0;
	opacity: 0;
	left: -140px;
	text-align: center;
	border-radius: 0 20px 20px 0;
	z-index: -1;
	transition: all 0.3s ease-in-out;
	
}
.tilesWrap li:hover button {
	transform: translateY(6px);
	opacity: 1;
}
.tilesWrap li button:hover {
	color: #262a2b;
}
.tilesWrap li button:hover:before {
	left: 0;
	opacity: 1;
}
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}

.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}

.tilesWrap li:nth-child(1):before {
	background: #C9FFBF;
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
.tilesWrap li:nth-child(2):before {
	background: #f2709c;
background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
background: linear-gradient(to right, #ff9472, #f2709c);
}
.tilesWrap li:nth-child(3):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #ffc500, #c21500);
background: linear-gradient(to right, #ffc500, #c21500);
}
.tilesWrap li:nth-child(4):before {
	background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #0ABFBC, #FC354C);
}

img {
  width: 200px;
}
a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
}
div.loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/img/loadingimage.gif) no-repeat;
    cursor: wait;
    }
.buttonload {
  background-color: #04AA6D; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  font-size: 18px; /* Set a font-size */
}

/* Add a right margin to each icon */
.fa {
  margin-left: -12px;
  margin-right: 8px;
}

.tilesWrapHome {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.tilesWrapHome div {
	display: inline-block;
	width: 50%;
	min-width: 200px;
	max-width: 830px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif, serif;
	min-height: 25vh;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: center;
}
.tilesWrapHome div h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;

}
.tilesWrapHome div button{
	border: 1px solid #b7b7b7;
	padding: 10px 50px;
	background-color: transparent;
	color: #b7b7b7;
	border-radius: 3px;
	position: relative;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
	overflow: hidden;
}
.tilesWrapHome div button:hover {
	color: #262a2b;
	background-color: #b7b7b7;
}

 .buttonbox {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%)
 }

 .spinner-button {
     border: 2px solid #000;
     display: inline-block;
     padding: 8px 20px 9px;
     font-size: 12px;
     color: #000;
     background-color: transparent
 }

 .btn-primary:disabled {
     color: #fff;
     background-color: #000;
     border-color: #000
 }

 .spinner-button:hover {
     background-color: #000;
     border: 2px solid #000;
     color: #fff
 }

 .spinner-button i {
     color: #fff
 }

 .spinner-button:hover i {
     color: #fff
 }

 .fa {
     color: #fff
 }

 .fa:hover {
     color: #fff
 }