{% extends 'base.html' %}
{% block content %}
<div class="container-fluid ">
    <div class="d-flex flex-wrap justify-content-center">
        {% for key, value in playlists.items() %}
        <div class="cardWrap flex-row justify-content-center">
            <div class="card my-4 mx-4 " style="width: 18rem;">
                <img class="rounded m-2" src="{{ value }}" alt="{{ key }}">
                <div class="card-body">
                  <h5 class="card-title text-white">{{ key }}</h5>
                  <form method="post" action="/available/playlists">
                    <button class="spinner-button btn btn-primary mb-2 text-white" name="view_tracks_button"  value="{{ key }}">View</button>
                    <button id="btnFetch" class="spinner-button mb-2 text-white" name="download_button" value="{{ key }}">Convert</button>
                    <div id="loader" class=" load text-center"></div>
                </form>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
    